
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

:root {

}

body {
  font-size: 18px;
  font-family: 'Roboto','Noto Sans Myanmar UI',arial,sans-serif;
  height: 100vh;
}

.flex {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mt-5 {
  margin-top: 5px;
}
.mt-10 {
  margin-top: 10px;
}
.mt-15 {
  margin-top: 15px;
}
.mt-30 {
  margin-top: 30px;
}
.mt-40 {
  margin-top: 40px;
}
.mt-50 {
  margin-top: 50px;
}

main {
  display: grid;
  place-content: center;
  height: 100vh;
}

.container {
  width: 360px;
  border-radius: 10px;
  border: 1px solid lightgray;
  height: 420px;
  padding: 2em 2em 4em 2em;
}

.g__sign-in {
  font-size: 24px;
}

.g_continue {
  font-size: 16px;
  font-weight: 400;
  color: #202124;
  letter-spacing: 0.1px;
  line-height: 1.5;
}

.g__input-email {
    box-sizing: border-box;
    height: 40px;
    border-radius: 5px;
    border: 1px solid lightgray;
    padding: 1.5em;
    margin-bottom: 10px;
    font-size: 16px;
    min-width: 100%;
  }

.g__input-email::placeholder {
  font-weight: 500;
}


a {
  font-size: 14px;
  text-decoration: none;
  color: #1a73e8;
  font-weight: 500;
  letter-spacing: 0.25;
  display: inline-block;
  /* line-height: 1.42; */
}

.g__forgot-email {
  align-self: flex-start;

}

.g__desc {
  align-self: flex-start;
  line-height: 1.5;
  font-weight: 400;
}

.g__learn-more {
  align-self: flex-start;

}

.new-acc {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

p {
  font-size: 14px;
  font-weight: 300;
  color: #5f6368;
}

.btn {
  padding: 0.7em 0.7em;
  color: #1a73e8;
  font-weight: 400;
}

.btn:hover {
  background-color: rgba(191, 194, 240, 0.1);
  color: #1c60b8;
}

.sign-up {
  color: white;
  background-color: #1a73e8;
  padding:0.7em 1.8em;
  border-radius: 3px;
}

.sign-up:hover {
  background-color: #1064d3;
  color: white;
}

@media only screen and (max-width: 600px) {
  .container {
    border: none;
  }

  main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }
}